.wrapper {
	width: 100%;
	overflow: hidden;
}

.wrapper.light {
	background-color: #fefefe;
}

.container {
	margin: 0 auto;
	width: min(700px, 100%);
	height: 100vh;
	padding: 1rem 0;
}

/* Header */
header {
	padding: 1rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .btn_mode {
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .btn_mode svg {
	width: 2rem;
	height: 2rem;
}

/* filter */
.filterTab {
	display: flex;
	align-items: center;
}

.filterTab li {
	cursor: pointer;
	font-weight: 500;
	margin-right: 2rem;
}

.filterTab li.active::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--color-point);
	position: absolute;
	bottom: 0;
	left: 0;
}

/* List */
.todoList {
	height: 72%;
	overflow-y: scroll;
}

.todoList ul {
	padding: 0 1.2rem;
}

.todoList li {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 1.8rem 1rem;
}

.todoList li.empty {
	border-bottom: none !important;
	text-align: center;
	font-weight: 600;
	font-size: 1.2rem;
	color: #dddddd;
}

.todoList .input_check {
	width: 0.9rem;
	height: 0.9rem;
}

.todoList .content {
	text-align: left;
	margin-left: 1rem;
	width: 80%;
}

.todoList .input_check:checked + .content {
	text-decoration: line-through;
	color: #bebebe;
}

.todoList .btn_delete {
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
	background-color: #bebebe;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%);
}

.todoList .btn_delete svg {
	fill: #fff;
	width: 1rem;
	height: 1rem;
}

/* Editor */
.todoEdit {
	position: absolute;
	bottom: 1rem;
	left: 0;
	width: 100%;
	padding: 0.6rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todoEdit .input_add {
	width: 90%;
	height: 3rem;
	margin-right: 0.5rem;
	border: 1px solid #c9c9c9;
	padding: 0 0.8rem;
	padding: 0 0.8rem;
}

.todoEdit .input_add:focus,
.todoEdit .input_add:active {
	box-shadow: 0 0 10px #bbb;
	outline: none;
}

.todoEdit .btn_add {
	width: 5rem;
	height: 3rem;
	background-color: var(--color-point);
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
}

/* darkMode */
.wrapper.dark {
	background-color: #333;
}

.dark *:not(input[type='text']) {
	color: #fff;
}

.dark .todoList li {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.dark .todoList li.empty {
	color: rgba(255,255,255,0.3);
}