@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
    --color-point: #46a3ff;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    box-sizing: border-box;
    color: #323232;
    font-size: 1.1rem;
}

img, span {
    display: block;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
    accent-color: var(--color-point);
}


@media all and (max-width: 700px) {
    :root {font-size: 15px;}
}

@media all and (max-width: 400px) {
    :root {font-size: 14px;}
}